@media (max-width:800px) {
    .nav__menu {
        padding: 10px 40px;
    }
    .nav__menu-btn {
        margin-left: 94px;
    }
    .hero__title {
        text-align: center;
        margin: 0 auto;
        font-size: 56px;
        display: block;
    }
}